# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variables sensibles
*.tfvars
*.tfvars.json

# Logs
crash.log
crash.*.log

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform config
.terraformrc
terraform.rc